<div class="card text-primary-content  bg-blue-500 min-h-full ">
  <div class="card-body p-4">
    @if (selectedReferralComputed()) {
    <div class=" flex flex-row gap-5 items-start">
      <span class="card-title ">
        Service User: {{ selectedReferral()?.serviceUser?.firstname }} {{
        selectedReferral()?.serviceUser?.midname }} {{selectedReferral()?.serviceUser?.lastname}}
      </span>
      <span class="card-title ">
        DoB: {{selectedReferral()?.serviceUser?.dob | date: 'dd/MM/yyyy'}}
      </span>
      <span class="card-title ">
        NHSno:
        {{selectedReferral()?.serviceUser?.nhsNo}}
      </span>
    </div>

    <div class=" flex flex-row gap-6 items-start">
      <span class="card-title ">Referred By: {{selectedReferral()?.referrer}} </span>
      <span class="card-title ">Email: {{selectedReferral()?.referrersEmail}} </span>
      <span class="card-title ">Date Referred: {{selectedReferral()?.dateReferred | date: 'dd/MM/yyyy'}} </span>
    </div>

    <h1 class="card-title "> Stage: {{selectedReferral()?.stage}}
      <button cdkOverlayOrigin id="changeStageButton" (click)="changeStageDialog()"
        class="btn btn-secondary w-auto ml-1.5">Change Stage</button>
    </h1>

    <h3 class="card-title ">Reason:
    <input type="checkbox" [checked]="showReason()" (change)="toggleReason()" class="toggle" />
    </h3>
    @if (showReason()) {
    <h3 class="card-subtitle bg-blue-700 max-h-52 overflow-y-scroll p-1.5" innerHTML="{{selectedReferral()?.reason}}">
    </h3>
    }

    <h1 class="card-title mt-4">Progress Notes:
      <input type="checkbox" [checked]="showNotes()" (change)="toggleNotes()" class="toggle" />
      <button cdkOverlayOrigin id="newNoteButton" (click)="newNoteDialog()" class="btn btn-secondary w-auto ml-1.5">Add
        New Note</button>
    </h1>
    @if (showNotes()) {
    <div class="bg-blue-400 max-h-52 overflow-y-scroll pl-1.5">
      <app-progress-notes [selectedReferralId]="selectedReferralId" [refreshNotes]="refreshNotes"></app-progress-notes>
    </div>
    }
    <h1 class="card-title">Physical Health:</h1>
    <h1 class="card-title">MADRAS etc:</h1>
  }
  </div>
</div>