

<div class=" bg-blue-50 text-neutral-800 flex-col overflow-auto rounded-2xl px-2 py-2"
animate.enter="enter-animation"
animate.leave="leave-animation">
<div animate.enter="enter-animation"
animate.leave="leave-animation" >
    <p>referral menu</p>
  <hr class="my-2 h-0.5 border-t-0 bg-neutral-200" />
  <a routerLink="/home/referrals/findSaveSU" (click)="doCloseMenu()">Add New Referral</a>
  <hr class="my-2 h-0.5 border-t-0 bg-neutral-200" />
  <a routerLink="/home/referrals" (click)="doCloseMenu()">All (Open) Referrals</a>
</div>

</div>