/* You can add global styles to this file, and also import other style files */
@import "@angular/cdk/overlay-prebuilt.css";
@import "tailwindcss";
@plugin "daisyui"  {
themes: retro, dark
} ;

.enter-animation {
  animation: slide-fade 0.5s ;
}
@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.leave-animation {
  animation: slide-fade-leave 1s;
}
@keyframes slide-fade-leave {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

