<div class="flex h-full ">


    <div>
        <div class=" bg-blue-100 text-white flex-col md:w-70 justify-center overflow-auto" cdkDropList
            #listZero="cdkDropList" id="list -1" [cdkDropListConnectedTo]="[listOne, listTwo, listThree, listFour]">

            <h3 class=" bg-blue-600 text-center my-0">Selected Clinic: {{ selectedClinic() }}</h3>
            <h3 class=" bg-blue-600 text-center my-1">Awaiting Treatment</h3>
            <ul class="space-y-4 mx-1.5">
                @for (referral of pendingReferrals(); track referral.referralId) {
                <div cdkDrag class="cursor-pointer">
                    <li><app-referral-ref [referral]="referral"></app-referral-ref> </li>
                </div>
                }
            </ul>
        </div>
        <div class=" bg-blue-100 text-white flex-col md:w-70 justify-center overflow-auto" cdkDropList
            #listZero="cdkDropList" id="list 0" [cdkDropListConnectedTo]="[listOne, listTwo, listThree, listFour]">
            <h3 class=" bg-blue-600 text-center my-1">Service users in Treatment</h3>
            <ul class="space-y-4 mx-1.5">
                @for (referral of referrals(); track referral.referralId) {
                <div cdkDrag class="cursor-pointer">
                    <li><app-referral-ref [referral]="referral"></app-referral-ref> </li>
                </div>
                }
            </ul>
        </div>



    </div>


    <div class="flex w-full flex-col">
        <div class="flex justify-center text-white bg-blue-600">
            <svg (click)="subtractDate()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M21 16.811c0 .864-.933 1.406-1.683.977l-7.108-4.061a1.125 1.125 0 0 1 0-1.954l7.108-4.061A1.125 1.125 0 0 1 21 8.689v8.122ZM11.25 16.811c0 .864-.933 1.406-1.683.977l-7.108-4.061a1.125 1.125 0 0 1 0-1.954l7.108-4.061a1.125 1.125 0 0 1 1.683.977v8.122Z" />
            </svg>
            - Scroll Dates -
            <svg (click)="addDate()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M3 8.689c0-.864.933-1.406 1.683-.977l7.108 4.061a1.125 1.125 0 0 1 0 1.954l-7.108 4.061A1.125 1.125 0 0 1 3 16.811V8.69ZM12.75 8.689c0-.864.933-1.406 1.683-.977l7.108 4.061a1.125 1.125 0 0 1 0 1.954l-7.108 4.061a1.125 1.125 0 0 1-1.683-.977V8.69Z" />
            </svg>
        </div>
        
        <div class="flex flex-row w-full h-full">
            <span class="hidden md:block bg-red-100 flex-1  justify-center items-center overflow-auto " cdkDropList
                #listOne="cdkDropList" id="list 1" (cdkDropListDropped)="drop($event)">

                <h3 class=" bg-blue-600 text-white text-center my-0">{{apptDate1() | date: 'EEE dd/MM/yyyy'}} </h3>
                <div>
                    <ul class="space-y-4 mx-1.5">
                        @for (appt of apptList1(); track appt.referralId) {
                        <div>
                            <li>
                                <h3 class="flex flex-col bg-blue-600 text-white justify-between my-1 pl-1 ">
                                    <span> {{appt.serviceUser.firstname}}
                                        {{appt.serviceUser.midname}}
                                        {{appt.serviceUser.lastname}} </span>
                                    <span>{{appt.treatmentStage}} {{appt.treatmentNo}}</span>
                                    <span>{{appt.section}} : {{appt.consent}}</span>
                                    <span>Residing: {{appt.residing}}</span>
                                </h3>
                            </li>
                        </div>
                        }
                    </ul>
                </div>

            </span>

            <span class="hidden md:block bg-red-100 flex-1 justify-center items-center overflow-auto " cdkDropList
                #listTwo="cdkDropList" id="list 2" (cdkDropListDropped)="drop($event)">

                <h3 class=" bg-blue-600 text-white text-center my-0">{{apptDate2() | date: 'EEE dd/MM/yyyy'}} </h3>
                <div>
                    <ul class="space-y-4 mx-1.5">
                        @for (appt of apptList2(); track appt.referralId) {
                        <div>
                            <li>
                                <h3 class="flex flex-col bg-blue-600 text-white justify-between my-1 pl-1 ">
                                    <span> {{appt.serviceUser.firstname}}
                                        {{appt.serviceUser.midname}}
                                        {{appt.serviceUser.lastname}} </span>
                                    <span>{{appt.treatmentStage}} {{appt.treatmentNo}}</span>
                                    <span>{{appt.section}} : {{appt.consent}}</span>
                                    <span>Residing: {{appt.residing}}</span>
                                </h3>
                            </li>
                        </div>
                        }
                    </ul>
                </div>

            </span>

            <span class="hidden md:block bg-red-100 flex-1 justify-center items-center overflow-auto " cdkDropList
                #listThree="cdkDropList" id="list 3" (cdkDropListDropped)="drop($event)">

                <h3 class=" bg-blue-600 text-white text-center my-0">{{apptDate3() | date: 'EEE dd/MM/yyyy'}} </h3>
                <div>
                    <ul class="space-y-4 mx-1.5">
                        @for (appt of apptList3(); track appt.referralId) {
                        <div>
                            <li>
                                <h3 class="flex flex-col bg-blue-600 text-white justify-between my-1 pl-1">
                                    <span> {{appt.serviceUser.firstname}}
                                        {{appt.serviceUser.midname}}
                                        {{appt.serviceUser.lastname}} </span>
                                    <span>{{appt.treatmentStage}} {{appt.treatmentNo}}</span>
                                    <span>{{appt.section}} :{{appt.consent}}</span>
                                    <span>Residing: {{appt.residing}}</span>
                                </h3>
                            </li>
                        </div>
                        }
                    </ul>
                </div>

            </span>

            <span class="hidden md:block bg-red-100 flex-1 justify-center items-center overflow-auto " cdkDropList
                #listFour="cdkDropList" id="list 4" (cdkDropListDropped)="drop($event)">

                <h3 class=" bg-blue-600 text-white text-center my-0">{{apptDate4() | date: 'EEE dd/MM/yyyy'}} </h3>
                <div>
                    <ul class="space-y-4 mx-1.5">
                        @for (appt of apptList4(); track appt.referralId) {
                        <div>
                            <li>
                                <h3 class="flex flex-col bg-blue-600 text-white justify-between my-1 pl-1">
                                    <span> {{appt.serviceUser.firstname}}
                                        {{appt.serviceUser.midname}}
                                        {{appt.serviceUser.lastname}} </span>
                                    <span>{{appt.treatmentStage}} {{appt.treatmentNo}}</span>
                                    <span>{{appt.section}} : {{appt.consent}}</span>
                                    <span>Residing: {{appt.residing}}</span>
                                </h3>
                            </li>
                        </div>
                        }
                    </ul>
                </div>

            </span>

        </div>
    </div>
</div>